<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/flujoStyle.css">
    <title>Flujo de la economia</title>
</head>
<body>
        <h1>Flujo de la economia</h1>
    <p>El flujo de la economia es un modelo economico que 
    da una representación grafica de como es el funcionamiento 
    de la actividad economica (en este caso en una economia 
    cerrada) y como se relacionan sus agentes economicos (familias,
    empresas y estado) y como esta relacion afecta la actividad 
    economica.
    </p>
    <img src="../img/flujo de la economia.png" alt="flujo de la economia">
</body>
</html>