<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/inflacionstyle.css">
    <title>Inflación</title>
</head>
<body>
    <h1>Inflación</h1>
    <p>La inflación es el aumento en todo el nivel de los precios a medida
        que pasa el tiempo, esto hace que muchos bienes y servicios aumenten 
        precio, pero no significa que todos aumenten su precio, pues agunos 
        seguiran con el mismo o incluso este disminuira. Todo esto sucede 
        debido a que la moneda de dicho pais perdio su poder adquisitivo, esto 
        puede ocurrir por varias razones.
    </p>
    <h3>Causas:</h3>
    <ol>-Una posible causa es el exceso en la demanda de los bienes y los servicios.
    Esto pasa cuando se necesitan más bienes de los que estan disponibles en ese 
    momento, por lo cual, estos bienes se vuelven bastante escasos y quienes los poseen
    cobran mucho más por ellos.    
    </ol>
    <ol>-La otra posible causa es cuando el costo de produccion de un bien (por unidad)
        debido a que los salarios aumentan y/o los insumos que se utilizan para producir
        el bien tambien lo hacen. Al aumentarse el costo de produccion las personas que
        lo producen no obtendran tantos beneficios, por lo cual dejaran de producir la 
        misma cantidad, por lo cual se volveran más escasos y sumando esto a una constante 
        demanda generara que su precio aumente de gran manera.     
    </ol>
 <footer>
    
    <p>En colombia esta se mide mediante el Indice de precios al consumidor (IPC), 
       este estudio lo realiza la DIAN.
    </p>
    <img src="../img/Dian.png" alt="DIAN">
 </footer>
</body>
</html>