*{
    padding: 5px;
    margin: 5px;
}
body{
    background: black;
    background-image: url(../img/Tierra.jpg);
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
}
h1, p{
    color: white;
}
h1{
    text-align: center;
    text-transform: uppercase;
}
p{
    padding: 4%;
    margin: 4px auto;
    text-overflow: clip;
}
img{
    width: 90%;
    height: 500px;
    padding: 4%;
    opacity: 0.8;
    color: black;
    border-radius: 30%;
    image-rendering: pixelated;
}