*{
    padding: 5px;
    margin: 5px;
}
h1{
    text-align: center;
    background-image:url(../img/dollar-gdbeaee60e_1280.jpg);
    color: white;
    height: 100px;
    width: 99%;
    text-justify: distribute;
}
div{
    background: black;
}
button{
    display: inline-block;
    padding: 0%;
    text-align: center;
    background-color: transparent;
    color: #0478DE;
    border: #ffffff;
    border-radius: 1000px;
    height: 30px;
    width: 150px;
    margin-left: 10px;
    text-decoration: underline;
}
body{
    background: black;
    font-family: 'Times New Roman', Times, serif;
}
h2, p{
    color: white;
}
.eco{
    text-align: left;
    vertical-align: top;
}
.eco1{
    float: right;
    height: 300px;
    width: 400px;
    opacity: 0.5;
}
.micro{
    text-align: right;
    vertical-align: top;
}
.micro1{
    float: left;
    height: 300px;
    width: 400px;
    opacity: 0.5;
    image-rendering: pixelated;
}
.lista{
    text-align: right;
    vertical-align: top;
}
.macro1{
    float: right;
    height: 300px;
    width: 400px;
    opacity: 0.5;
    image-rendering: pixelated;
}
.macro{
    text-align: left;
    vertical-align: top;
}